@model Project.MvcWebUI.Models.NfcCompanyViewModel
@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@foreach (var item in Model.listNfcCompany)
{
	<span><b>Şirket Adı:</b></span> @item.Name<br />
}

